<div>
  <h2>
    404 - Page not found
  </h2>

  <div>
    <mat-label>You may want to LOGIN</mat-label>
    <button mat-raised-button color="primary" (click)="goto('/login')">Login</button>
  </div>

  <div>
    <mat-label>You may want to the HOME-PAGE</mat-label>
    <button mat-raised-button color="primary" (click)="goto('/')">Home-Page</button>
  </div>
</div>

<!-- <a routerLink="/" routerLinkActive="active">Home-Page</a><br>
     <a routerLink="/login" routerLinkActive="active">Login</a><br> -->
