@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.bg {
  background-image: url("../../sfondo.jpg");
  background-position: center;
  background-size: cover;
  /*overflow: hidden;*/
  /*width: 100%;*/
  /*min-height: 100vh;*/
  /*height: 100vh;*/
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  min-width: 35em;
}

.selected {
  font-weight: bold;
}

.highlight {
  font-style: italic;
  color: green;
  width: 30%;
}

.bottom {
  width: 25%;
  position: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 14px;
  background-color: white;
  margin: 0 22vw;
  min-width: 22em;
}

.centeredCard {
  border-radius: 14px;
  text-align: center;
  /*align-items: center;*/
  align-content: center;
  min-width: 35em;
  width: 40%;
  margin: 0 18vw;
  background-color: white;
  height: 22em;
  min-height: 22em;
}

.firstrow {
  display: inline-block;
  width: auto
}

.rightCard {
  border-radius: 14px;
  margin-top: 1em;
  max-width: 35em;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 30em;
  float: right;
  background-color: white;
  height: 22em;
}

.leftCard {
  border-radius: 14px;
  margin-top: 1em;
  max-width: 35em;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 30em;
  float: left;
  background-color: white;
  height: 22em;
}

.prenotato {
  color: crimson;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  font-family: "Arial Black";
  font-size: large;
}

.toolbar {
  background-color: darkslategrey;
  color: white;
}
