@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.selected {
  font-weight: bold;
}

.highlight {
  font-style: italic;
  color: green;
}

.bottom {
  max-width: 30em;
  margin-left: 38em;
  margin-top: 32em;
}

.centeredCard {
  margin-top: 3em;
  text-align: center;
  align-content: center;
}

.rightCard {
  margin-top: 3em;
  max-width: 200em;
  text-align: center;
  align-content: center;
  margin-bottom: 15em;
  margin-right: 10em;
  float: right;
}

.leftCard {
  margin-top: 3em;
  max-width: 200em;
  text-align: center;
  align-content: center;
  margin-bottom: 15em;
  margin-left: 10em;
  float: left;
}

.prenotato {
  color: lightseagreen;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  font-family: "Arial Black";
  font-size: large;
}
