<div class="bg">

  <mat-card class="form-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <h1>Reset Password</h1>
      </mat-card-header>
      <mat-card-subtitle>
        Fill the form with your new password
      </mat-card-subtitle>

      <mat-card-content>
        <mat-list role="list">

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter your password" [type]="hidepass1 ? 'password' : 'text'"
                         formControlName="password">
                </label>
                <button mat-icon-button matSuffix (click)="hidepass1 = !hidepass1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidepass1">
                  <mat-icon>{{hidepass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.password.invalid">{{getErrorMessage('password')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br>

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Confirm your password" [type]="hidepass2 ? 'password' : 'text'"
                         formControlName="confermaPassword">
                </label>
                <button mat-icon-button matSuffix (click)="hidepass2 = !hidepass2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidepass2">
                  <mat-icon>{{hidepass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.confermaPassword.invalid">{{getErrorMessage('confermaPassword')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>

          <div class="form-group">
            <button [disabled]="loading || resetPasswordForm.invalid" class="btn btn-primary">Reset Password</button>
            <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
          <mat-error *ngIf="error" class="mat-error"><strong>{{error}}</strong></mat-error>
          </mat-list>
        </mat-card-content>
    </form>
  </mat-card>
</div>
