<div class="bg">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card class="form-container">

      <mat-card-header>
        <h1>Register Page</h1>
      </mat-card-header>

      <mat-card-content>
        <mat-list role="list">

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter your first name" formControlName="firstName">
                </label>
                <mat-error *ngIf="f.firstName.invalid">{{getErrorMessage('firstName')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br>

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter your last name" formControlName="lastName">
                </label>
                <mat-error *ngIf="f.lastName.invalid">{{getErrorMessage('lastName')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br>

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label> <!-- (blur)="isEmailPresent()" -->
                  <input #emailField matInput placeholder="Enter your email" formControlName="username">
                </label>
                <mat-error *ngIf="f.username.invalid">{{getErrorMessage('username')}}</mat-error>

              </mat-form-field>
            </div>
          </mat-list-item><br><br>

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter your password" [type]="hidepass1 ? 'password' : 'text'"
                         formControlName="password">
                </label>
                <button mat-icon-button matSuffix (click)="hidepass1 = !hidepass1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidepass1">
                  <mat-icon>{{hidepass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.password.invalid">{{getErrorMessage('password')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br>

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Confirm your password" [type]="hidepass2 ? 'password' : 'text'"
                         formControlName="confermaPassword">
                </label>
                <button mat-icon-button matSuffix (click)="hidepass2 = !hidepass2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidepass2">
                  <mat-icon>{{hidepass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.confermaPassword.invalid">{{getErrorMessage('confermaPassword')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br>

          <div formArrayName="figliArray">
            <div *ngFor="let item of getFigli.controls; let pointIndex=index" [formGroupName]="pointIndex">
              <mat-form-field>
              <label>
                <input matInput placeholder="Name" formControlName="nome" />
              </label>
              </mat-form-field><br><br>
              <mat-form-field>
                <label>
                  <input matInput placeholder="Surame" formControlName="cognome" />
                </label>
              </mat-form-field><br><br>
              <button type="button" (click)="deleteFiglio(pointIndex)">Delete Figlio</button>
            </div>
            <button type="button" (click)="addFiglio()">Add Figlio</button>
          </div><br><br>

          <mat-list-item role="listitem">
          <mat-form-field>
            <label>
              <mat-select matInput placeholder="Fermata di Default valida per ogni figlio" formControlName="fermataDefault">
                <mat-option *ngFor="let fermata of fermate" value="{{fermata.id}}">
                  {{fermata.nome}} - {{fermata.linea}}</mat-option>
              </mat-select>
            </label>
          </mat-form-field>
          </mat-list-item><br><br>
          <!-- <button (click)="showFigliForm()"></button>
          todo: <mat-error *ngIf="checkPasswords()"> Password mismatch</mat-error> -->
          <!-- todo: <mat-error *ngIf="getIsEmailPresent()"> L'email inserita è già presente nel sistema</mat-error> -->
        </mat-list>


        <div class="form-group">
          <button [disabled]="loading || registerForm.invalid" class="toolbar">Register</button>
          <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <mat-error *ngIf="error" class="alert alert-danger"><strong>{{error}}</strong></mat-error>
      </mat-card-content>
    </mat-card>
  </form>
</div>
