<div class="bg">

  <form>
    <mat-card class="form-container">

      <mat-card-header>
        <h1>Register Page</h1>
      </mat-card-header>


      <mat-card-content>
        <mat-list role="list">

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter your first name" [formControl]="firstName">
                </label>
                <mat-error *ngIf="firstName.invalid">{{getErrorMessage('firsName')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br> <!-- todo: da separare col CSS e togliere i <br> -->

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter your last name" [formControl]="lastName">
                </label>
                <mat-error *ngIf="lastName.invalid">{{getErrorMessage('lastName')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br> <!-- todo: da separare col CSS e togliere i <br> -->

    <mat-list-item role="listitem">
      <div class="input-form-container">
        <mat-form-field>
          <label>
            <input #emailField matInput placeholder="Enter your email" [formControl]="email" (blur)="isEmailPresent()">
          </label>
          <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>

        </mat-form-field>
      </div>
    </mat-list-item><br><br> <!-- todo: da separare col CSS e togliere i <br> -->

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter your password" [type]="hidepass1 ? 'password' : 'text'"
                         [formControl]="password">
                </label>
                <button mat-icon-button matSuffix (click)="hidepass1 = !hidepass1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidepass1">
                  <mat-icon>{{hidepass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br>  <!-- todo: da separare col CSS e togliere i <br> -->

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Confirm your password" [type]="hidepass2 ? 'password' : 'text'"
                         [formControl]="password2">
                </label>
                <button mat-icon-button matSuffix (click)="hidepass2 = !hidepass2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidepass2">
                  <mat-icon>{{hidepass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password2.invalid">{{getErrorMessage('password2')}}</mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br>  <!-- todo: da separare col CSS e togliere i <br> -->

          <mat-error *ngIf="checkPasswords()"> Password mismatch</mat-error>
          <mat-error *ngIf="getIsEmailPresent()"> L'email inserita è già presente nel sistema</mat-error>
        </mat-list>



        <mat-card-actions>
          <div class="form-group">
            <button mat-raised-button [disabled]="checkForInputs() == false" class="btn btn-primary" (click)="onSubmit()">
              Register
            </button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
</div>
<!--

<a routerLink="/login" class="btn btn-link">Cancel</a>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
  </div>



  <div class="input-form-container">
    <label>Password</label>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hidepass1 ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hidepass1 = !hidepass1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidepass1">
        <mat-icon>{{hidepass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="f.password.invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label>Password2</label>
    <input type="password" formControlName="password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
    <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
      <div *ngIf="f.password2.errors.required">Password is required</div>
      <div *ngIf="f.password2.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">
      Register
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form>
-->


<!--

  <div class="form-group">
    <label>Email</label>
    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
   </div>
<div>
<div class="form-group">
    <label>Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>

    <form [formGroup]="registrationForm">
      firstName: <input type="text" formControlName="firstName"><br>
      lastName: <input type="text" formControlName="lastName"><br>
      email: <input type="text" formControlName="email"><br>
      password: <input type="text" formControlName="password"><br>
      password2: <input type="text" formControlName="password2"><br>

      <div class="form-control-feedback"
           *ngIf="registrationForm.errors && (registrationForm.dirty || registrationForm.touched)">
        <p *ngIf="email.errors.required">Email is required</p>
        <p *ngIf="password.errors.pattern">The email address must contain at least the @ character</p>
        <p *ngIf="email.errors.emailDomain">Email must be on the codecraft.tv domain</p> (1)
      </div>

      <span *ngIf="registrationForm.controls.firstName.errors?.required"> Name is required. </span><br>
      <span *ngIf="registrationForm.controls.lastName.errors?.required"> LastName is required. </span>

    </form>
  </div>
   -->
