<div class="bg">
  <mat-card class="form-container">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="form-signin-heading"><strong>Accedi.</strong></h2>
      <mat-card-content>

        <label for="inputEmail" class="sr-only">Indirizzo email</label>
        <input type="email" id="inputEmail" class="form-control" matInput placeholder="Indirizzo email" formControlName="username"
               autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" matInput placeholder="Password" formControlName="password">
        <div>
          <label>
            <p>Utilizza la mail fornita dall'amministratore per accedere a Pedibus.</p>
          </label>
        </div>

        <button [disabled]="loading || loginForm.invalid" class="btn btn-lg btn-primary btn-block">Accedi</button>
        <mat-error *ngIf="error" class="mat-error"><strong>{{error}}</strong></mat-error>

        <div>
          <label class="pDim">
            <a routerLink="/recoverPassword" routerLinkActive="active">Password dimenticata?</a>
          </label>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
