.bg {
  background-image: url("../../sfondo.jpg");
  background-position: center;
  background-size: cover;
  /*overflow: hidden;*/
  /*width: 100%;*/
  /*min-height: 100vh;*/
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  float: top;
  align-items: center;
  height: auto;
  min-height: 100vh;
  min-width: 35em;
}

.mat-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.centeredCard {
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 50%;
  max-width: 60%;
  min-width: 35em;
  /*margin: 2em 25%;*/
}

.centeredContent {
  margin-top: 3em;
  align-content: center;
}

.leftSide {
  float: left;
}

.rightSide {
  float: right;
}

.styleColor {
  background-color: darkslategrey;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.highlight {
  font-style: italic;
  color: green;
  width: 30%;
}

.highlightNOT {
  font-style: italic;
  color: darkred;
  width: 30%;
}


