<div class="bg">

  <mat-card class="form-container">
    <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
      <h2 class="form-signin-heading"><strong>Recover Password</strong></h2>
      <mat-card-subtitle>
        Insert here the email associate with your PEDIBUS account. An email will be sent to recover your password
      </mat-card-subtitle>

      <mat-card-content>
        <mat-list role="list">

          <mat-list-item role="listitem">
            <div class="input-form-container">
              <mat-form-field>
                <input type="text" matInput placeholder="Enter your email/username" formControlName="username">
                <mat-error *ngIf="f.username.invalid"> {{getErrorMessage('username')}}</mat-error>
                <!--mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error> -->
              </mat-form-field>
            </div>
          </mat-list-item>
          <br><br> <!-- todo: da separare col CSS e togliere i <br> -->
        </mat-list>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" [disabled]="loading || recoverPasswordForm.invalid">Recover Password</button>
          <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <mat-error *ngIf="error" class="mat-error"><strong>{{error}}</strong></mat-error>
        <span *ngIf="message !== ''" class="highlight"> <strong>{{message}}</strong></span>
      </mat-card-content>
    </form>
  </mat-card>
</div>
