<h1>Pedibus - Home Page</h1>
<nav>
  <a routerLink="/attendance" routerLinkActive="active">Corse</a><br>
  <a routerLink="/register" routerLinkActive="active">Registrazione</a><br>
  <a routerLink="/login" routerLinkActive="active">Login</a>
</nav>

<div *ngIf="isLoggedIn()"> {{user.username}} </div>
<router-outlet></router-outlet>


<!-- <main-nav>
  <mat-card style="text-align: center" content="align: center">
    <mat-card-title>
      <h3> Fermate Pedibus - PRESENZE </h3>
    </mat-card-title>
    <mat-card-subtitle style="text-align: center" >
      <h3> {{giornoSelezionato.data | date:'dd-MM-yyyy'}} </h3>
    </mat-card-subtitle>

    <mat-radio-group aria-label="Seleziona una linea">
      <mat-radio-button value="0" checked="checked" (change)="cambiaLinea($event)">Rossa &nbsp;&nbsp;</mat-radio-button>
      <mat-radio-button value="1" (change)="cambiaLinea($event)">Blu  </mat-radio-button>
    </mat-radio-group>

    <mat-card-content style="text-align: center">
    <mat-list>
      <mat-list-item *ngFor="let fermata of lineaSelezionata.fermate">
        <mat-icon>trip_origin</mat-icon>
        <span class="highlight">{{fermata.orario}}&nbsp;&nbsp;{{fermata.nome}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span *ngFor="let persona of getPersone(fermata.persone); last as isLast"
              (click)="segnaPresente($event, persona)">
          <span [class.selected] = persona.presente>{{persona.nome}}<span *ngIf="!isLast">,&nbsp;</span></span>
          </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

    <mat-paginator (page)="pageChangeEvent($event)"
                   [length]=giorni.length
                   [pageSize]=1
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   style="align-content: center">
    </mat-paginator>
  </mat-card>
</main-nav>
-->
