@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.selected {
  font-weight: bold;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  font-family: "Arial Black";
  font-size: large;
}

.mat-list {
  
}
