  <mat-card style="text-align: center" content="align: center" *ngIf="data">
    <mat-card-title>
      <h3> ACCOMPAGNATORE - PRESENZE </h3>
    </mat-card-title>

    <mat-card-subtitle style="text-align: center" >
      <h3> {{ data.date | date:'dd-MM-yyyy'}} </h3>
    </mat-card-subtitle>

    <mat-radio-group aria-label="Seleziona una linea">
      <mat-radio-button *ngFor="let linea of linee; i as index"
                        (change)="cambiaLinea($event)" [value]="linea.nome" [checked]="linea.nome === 'Rossa'">{{linea.nome}} &nbsp;&nbsp;</mat-radio-button>
    </mat-radio-group>

    <mat-tab-group dynamicHeight>
      <mat-tab label="Andata">
          <mat-card-content >
            <mat-list>
              <mat-list-item *ngFor="let fermata of data.corse[0].fermate">
                <mat-icon>trip_origin</mat-icon>
                <span class="highlight">{{fermata.orario}}&nbsp;&nbsp;{{fermata.nome}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span *ngFor="let bambino of fermata.bambini; last as isLast"
                      (click)="segnaPresente($event, bambino, 'Andata', fermata)">
          <span [class.selected] = bambino.presente [class.prenotato] = bambino.prenotato>
                  {{bambino.nome}}<span *ngIf="!isLast">,&nbsp;</span></span>
          </span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>

      </mat-tab>
      <mat-tab label="Ritorno">
        <div class="example-large-box mat-elevation-z4">
          <mat-card-content style="text-align: center">
            <mat-list>
              <mat-list-item *ngFor="let fermata of data.corse[1].fermate">
                <mat-icon>trip_origin</mat-icon>
                <span class="highlight">{{fermata.orario}}&nbsp;&nbsp;{{fermata.nome}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span *ngFor="let bambino of fermata.bambini; last as isLast"
                      (click)="segnaPresente($event, bambino, 'Ritorno', fermata)">
          <span [class.selected] = bambino.presente [class.prenotato] = bambino.prenotato>{{bambino.nome}}
                      <span *ngIf="!isLast">,&nbsp;</span></span>
          </span>
              </mat-list-item>
            </mat-list>

          </mat-card-content>

        </div>
      </mat-tab>
    </mat-tab-group>

    <mat-paginator (page)="cambiaGiorno($event)"
                   [length]= 365
                   [pageSize]=1
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   style="align-content: center">
    </mat-paginator>

    <mat-card-footer>
      <mat-form-field>
      <mat-label>Formato Download</mat-label>
      <select matNativeControl [formControl]="exportControl">
        <!-- <option value="csv">CSV</option> -->
        <option value="json">JSON</option>
      </select>
      </mat-form-field>
      <button [disabled]="f.invalid" mat-raised-button color="primary" (click)="esportaFile()">Esporta file</button>
    </mat-card-footer>
  </mat-card>

