  <mat-card style="text-align: center" content="align: center" class="leftCard">
    <mat-card-title>
      <h3> ACCOMPAGNATORE - PRESENZE </h3>
    </mat-card-title>


    <div>
      <form [formGroup]="dateLineForm">
        <h4>Seleziona una linea</h4>
        <mat-radio-group aria-label="Seleziona una linea" formControlName="line">
          <mat-radio-button *ngFor="let linea of linee" [value]="linea.nome">
            {{linea.nome}} &nbsp;&nbsp;
          </mat-radio-button>
        </mat-radio-group><br><br>

        <h4>Seleziona una data</h4>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker><br><br>

        <button [disabled]="dateLineForm.invalid" mat-raised-button color="primary" (click)="getCorsa()">
          Mostra Corsa
        </button>
      </form>

      <div>
        <mat-error *ngIf="error" class="mat-error"><strong>{{error}}</strong></mat-error>
        <span class="highlight">{{message}}</span>
      </div>
    </div>
  </mat-card>

  <mat-card style="text-align: center" content="align: center" class="rightCard" *ngIf="data">
    <mat-card-title>
      <h3>Dettagli Corsa</h3>
      <h4>&nbsp;&nbsp;LINEA:&nbsp;{{data.linea}}&nbsp;&nbsp;DATA:&nbsp;{{formatDateDashed(data.date)}}</h4>
    </mat-card-title>
    <div >
      <mat-tab-group dynamicHeight>
        <mat-tab label="Andata">
          <div class="example-large-box mat-elevation-z4">
            <mat-card-content style="text-align: center">
              <mat-list>
                <mat-list-item *ngFor="let fermata of data.corse[0].fermate">
                  <mat-icon>trip_origin</mat-icon>
                  <span class="highlight">{{fermata.orario}}&nbsp;&nbsp;{{fermata.nome}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span *ngFor="let bambino of fermata.bambini; last as isLast"
                        (click)="segnaPresente($event, bambino, 'Andata', fermata)">
            <span [class.selected] = bambino.presente [class.prenotato] = bambino.prenotato>
                    {{bambino.nome}}<span *ngIf="!isLast">,&nbsp;</span></span>
            </span>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </div>
        </mat-tab>
        <mat-tab label="Ritorno">
          <div class="example-large-box mat-elevation-z4">
            <mat-card-content style="text-align: center">
              <h3>Dettagli Corsa</h3>
              <h4>&nbsp;&nbsp;LINEA:&nbsp;{{data.linea}}&nbsp;&nbsp;DATA:&nbsp;{{formatDateDashed(data.date)}}</h4>
              <mat-list>
                <mat-list-item *ngFor="let fermata of data.corse[1].fermate">
                  <mat-icon>trip_origin</mat-icon>
                  <span class="highlight">{{fermata.orario}}&nbsp;&nbsp;{{fermata.nome}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span *ngFor="let bambino of fermata.bambini; last as isLast"
                        (click)="segnaPresente($event, bambino, 'Ritorno', fermata)">
                    <span [class.selected] = bambino.presente [class.prenotato] = bambino.prenotato>{{bambino.nome}}
                        <span *ngIf="!isLast">,&nbsp;</span></span></span>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </div>
        </mat-tab>
      </mat-tab-group>


      <mat-card-footer>
        <mat-form-field>
        <mat-label>Formato Download</mat-label>
        <select matNativeControl [formControl]="exportControl">
          <!-- <option value="csv">CSV</option> -->
          <option value="json">JSON</option>
        </select>
        </mat-form-field>
        <button [disabled]="fExport.invalid" mat-raised-button color="primary" (click)="esportaFile()">Esporta file</button>
      </mat-card-footer>
    </div>
  </mat-card>

  <!--<mat-card-subtitle style="text-align: center" >
        <h3> {{ data.date | date:'dd-MM-yyyy'}} </h3>
      </mat-card-subtitle>

       <mat-radio-group aria-label="Seleziona una linea">
        <mat-radio-button *ngFor="let linea of linee; i as index"
                          (change)="cambiaLinea($event)" [value]="linea.nome" [checked]="linea.nome === 'Rossa'">{{linea.nome}} &nbsp;&nbsp;</mat-radio-button>
      </mat-radio-group>

      <mat-paginator (page)="cambiaGiorno($event)"
                     [length]= 365
                     [pageSize]=1
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     style="align-content: center">
      </mat-paginator>
      -->
