@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.bg {
  background-image: url("../../sfondo.jpg");
  background-position: center;
  background-size: cover;
  /*overflow: hidden;*/
  /*width: 100%;*/
  /*min-height: 100vh;*/
  /*height: 100vh;*/
  display: grid;
  justify-content: center;
  float: top;
  align-items: center;
  height: auto;
  min-height: 100vh;
  /*min-width: 35em; padding-top: 50px;*/
}

.selected {
   font-weight: bold;
 }

.bottom {
  position: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 14px;
  background-color: white;
  margin: 0 22vw;
  min-width: 22em;

  -webkit-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
}

.firstrow {
   display: inline-block;
   width: auto
 }
.secondrow {
  display: inline-block;
  width: auto
}
.prenotato {
  color: lightseagreen;
}

.centeredCard {
  position: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 14px;
  background-color: white;
  margin: 0 22vw;
  min-width: 22em;


  -webkit-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
}

.rightCard {
  position: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 14px;
  background-color: white;
  margin: 0 22vw;
  min-width: 22em;

  -webkit-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
}

.leftCard {
  position: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 14px;
  background-color: white;
  margin: 0 22vw;
  min-width: 22em;

  -webkit-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
}

/*.mobile {*/
/*  width: 25%;*/
/*}*/
/* Smartphones (portrait) ----------- */
/*@media only screen*/
/*and (min-device-width : 400px) {*/
/*  !* Styles *!*/
/*  .rightCard {*/
/*    border-radius: 14px;*/
/*    margin-top: 1em;*/
/*    max-width: 35em;*/
/*    text-align: center;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    width: 30em;*/
/*    background-color: white;*/
/*    height: auto;*/
/*  }*/

/*  .leftCard {*/
/*    border-radius: 14px;*/
/*    margin-top: 1em;*/
/*    max-width: 35em;*/
/*    text-align: center;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    width: 30em;*/
/*    background-color: white;*/
/*    height: auto;*/
/*  }*/
/*}*/
/*

padding: 30px 42px 10px 42px;
width: 600px;
height: 400px;

justify-content: center;

flex-direction: column;
margin-top: 10vh;
margin-bottom: 10vh;
margin-right: 10vh;
margin-left: 10vh;

-webkit-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.3);
 */

/*button {*/
/*  margin: 10px auto;*/
/*  width: 15em;*/
/*  position: center;*/
/*}*/

button:hover,
button:focus {
  /*background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);*/
  /*background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);*/
  /*background-image: -o-linear-gradient(to left, #74ebd5, #9face6);*/
  /*background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);*/
  /*background-image: linear-gradient(to left, #74ebd5, #9face6);*/
  /*#AC686B*/

  background-image: -moz-linear-gradient(to left, #6184A2, #AC686B);
  background-image: -ms-linear-gradient(to left, #6184A2, #AC686B);
  background-image: -o-linear-gradient(to left, #6184A2, #AC686B);
  background-image: -webkit-linear-gradient(to left, #6184A2, #AC686B);
  background-image: linear-gradient(to left, #6184A2, #AC686B);
}

.highlight {
  font-weight: bold;
  font-style: italic;
  font-family: "Arial Black";
  font-size: large;
}

.toolbar {
  background-color: darkslategrey;
  color: white;
}
