<div class="bg">
  <div class="firstrow">
  <mat-card class="{{classType}} mat-card ng-star-inserted">
      <mat-card-title>
        <h3> ACCOMPAGNATORE - PRESENZE </h3>
      </mat-card-title>
        <mat-card-content style="text-align: center">
          <form [formGroup]="dateLineForm">
            <section><br>
              <h4>Seleziona una linea</h4>
              <mat-radio-group aria-label="Seleziona una linea" formControlName="line">
                <mat-radio-button *ngFor="let linea of linee" [value]="linea.nome">
                  {{linea.nome}} &nbsp;&nbsp;
                </mat-radio-button>
              </mat-radio-group>
            </section><br>

            <section>
              <h4>Seleziona una data</h4>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </section><br>
            <section style="margin-left: 8em; margin-right: 8em">
              <button [disabled]="dateLineForm.invalid" class="btn btn-lg btn-primary btn-block" (click)="getCorsa()">
                Mostra Corsa
              </button>
            </section>
          </form>
        </mat-card-content>
        <div>
          <mat-error *ngIf="error" class="mat-error"><strong>{{error}}</strong></mat-error>
          <span class="highlight">{{message}}</span>
        </div>
    </mat-card>&nbsp;&nbsp;&nbsp;&nbsp;

    <mat-card class="rightCard" *ngIf="data">
      <mat-card-title>
        <h3>Dettagli Corsa</h3>
        <h4>&nbsp;&nbsp;LINEA:&nbsp;{{data.linea}}&nbsp;&nbsp;DATA:&nbsp;{{formatDateDashed(data.date)}}</h4>
      </mat-card-title>
        <mat-tab-group dynamicHeight>
          <mat-tab label="Andata">
              <mat-card-content style="text-align: center">
                <section>
                  <mat-list>
                    <mat-list-item *ngFor="let fermata of data.corse[0].fermate">
                      <mat-icon>trip_origin</mat-icon>
                      <span class="highlight">{{fermata.orario}}&nbsp;&nbsp;{{fermata.nome}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                      <span *ngFor="let bambino of fermata.bambini; last as isLast"
                            (click)="segnaPresente($event, bambino, 'Andata', fermata)">
                        <span [class.selected] = bambino.presente [class.prenotato] = bambino.prenotato>
                        {{bambino.nome}}<span *ngIf="!isLast">,&nbsp;</span></span>
                        </span>
                    </mat-list-item>
                  </mat-list>
                </section>
              </mat-card-content>
          </mat-tab>
          <mat-tab label="Ritorno">
              <mat-card-content style="text-align: center">
                <section>
                  <mat-list>
                    <mat-list-item *ngFor="let fermata of data.corse[1].fermate">
                      <mat-icon>trip_origin</mat-icon>
                      <span class="highlight">{{fermata.orario}}&nbsp;&nbsp;{{fermata.nome}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                      <span *ngFor="let bambino of fermata.bambini; last as isLast"
                            (click)="segnaPresente($event, bambino, 'Ritorno', fermata)">
                        <span [class.selected] = bambino.presente [class.prenotato] = bambino.prenotato>{{bambino.nome}}
                            <span *ngIf="!isLast">,&nbsp;</span></span></span>
                    </mat-list-item>
                  </mat-list>
                </section>
              </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
  </div>&nbsp;&nbsp;

  <div *ngIf="data" class="secondrow">
    <mat-card *ngIf="data" class="bottom">
      <mat-form-field>
        <mat-label>Formato Download</mat-label>
        <select matNativeControl [formControl]="exportControl">
          <option value="json">JSON</option>
        </select>
      </mat-form-field>
      <mat-card-footer style="padding-bottom: 1.5em; margin-left: 2em; margin-right: 2em">
        <button [disabled]="fExport.invalid" class="btn btn-lg btn-primary btn-block" (click)="esportaFile()">Esporta file</button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
