@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.selected {
   font-weight: bold;
 }

.bottom {
  margin-left: 38em;
  margin-top: 32em;
  align-content: center;
}

.prenotato {
  color: lightseagreen;
}

.centeredCard {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
  align-content: center;
  max-width: 35em;
  margin-right: 30%;
  margin-left: 30%;
}

.rightCard {
  margin-top: 5em;
  max-width: 35em;
  min-width: 15em;
  text-align: center;
  align-content: center;
  margin-bottom: 20px;
  margin-right: 10%;
  float: right;
}

.leftCard {
  margin-top: 5em;
  max-width: 35em;
  min-width: 15em;
  text-align: center;
  align-content: center;
  margin-bottom: 20px;
  margin-left: 10%;
  float: left;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  font-family: "Arial Black";
  font-size: large;
}
