<!--<mat-card class="centeredCard">-->
<!--  <mat-card-title><h1>Home</h1></mat-card-title>-->
<!--  <mat-card-content>-->
<!--    <p *ngIf="isLogged">You are authenticated as: <strong>{{currentUser.username}}</strong></p>-->
<!--    <p *ngIf="isLogged"> Your role is: <strong>{{currentUser.role}}</strong></p>-->
<!--    <p *ngIf="!isLogged">You are not authenticated</p>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->


<header>
  <div class="jumbotron" style="background-image: url('../../sfondo.jpg'); background-size: cover;">

    <!--    <div class="bg">-->
      <div class="container" id="st">
        <h1  class="display-3">La tua Home Page</h1>
        <p>Benvenuto su Piedibus! Esplora questa pagina ed impara ad effettuare prenotazioni per il tuo bambino,
          verificare le disponibilità e tanto altro ancora.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Scopri di più &raquo;</a></p>
      </div>
<!--    </div>-->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Il tuo profilo</h2>
        <p>Verifica velocemente le informazioni riguardanti la tua autenticazione ed il tuo ruolo.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Dettagli &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Prenotazioni</h2>
        <p>Dai un'occhiata alle tue prenotazioni attualmente attive.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Dettagli &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Informazioni generali</h2>
        <p>In questa sezione troverai facilmente tutte le informazioni necessarie per avere assistenza.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Dettagli &raquo;</a></p>
      </div>
    </div>

    <hr>


  </div>
</header>
<app-footer></app-footer>

