/*.container {*/
/*  position: absolute;*/
/*  height: 100vh;*/
/*  background: black;*/
/*  color: white;*/
/*}*/

/*.h-presentation {*/
/*  background-color: darkslategrey;*/
/*  color: white;*/
/*}*/
.centeredCard {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
  align-content: center;
  max-width: 35em;
  margin-right: 30%;
  margin-left: 30%;
}
