<mat-card class="centeredCard">
  <mat-card-title>
    <h3> DISPONIBILITA' ACCOMPAGNATORE </h3>
  </mat-card-title>

  <mat-card-content>
    <mat-vertical-stepper [linear]="isLinear" #stepper >

      <mat-step [stepControl]="secondFormGroup">

        <ng-template matStepLabel>Seleziona una o più corse</ng-template>
        <div >
          <div vertical layout *ngFor="let giorno of next5Days; let i=index">
            <form class="wrapper" [formGroup]="getGroup(i)">
              <div><mat-checkbox (change)="setVersoAndata($event, i)" [checked]="checkAndata(i)"
                                 [disabled]="getGroup(i).controls.fermateAndata.invalid"><strong>ANDATA</strong></mat-checkbox></div>
              <div><strong style="font-size: larger">{{formatDate(giorno)}}</strong></div>
              <div><mat-checkbox (change)="setVersoRitorno($event, i)" [checked]="checkRitorno(i)"
                                 [disabled]="getGroup(i).controls.fermateRitorno.invalid"><strong>RITORNO</strong></mat-checkbox></div>
              <div>
                <mat-form-field>
                  <mat-label>Fermate</mat-label>
                  <mat-select formControlName="fermateAndata" >
                    <mat-option>-- None --</mat-option>
                    <!-- <mat-option *ngIf="fermataDefault" [value]="fermataDefault">[Default] - {{fermataDefault.nome}}</mat-option> -->
                    <mat-optgroup *ngFor="let group of fermateGroups" [label]="group.nome"
                                  [disabled]="group.disabled">
                      <mat-option *ngFor="let fermata of group.fermate" [value]="fermata">
                        <!-- <label *ngIf="fermata.id === fermataDefault.id">[Default] - {{fermata.nome}}</label> -->
                        {{fermata.nome}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>

              <div></div>

              <div>
                <mat-form-field>
                  <mat-label>Fermate</mat-label>
                  <mat-select formControlName="fermateRitorno" >
                    <mat-option>-- None --</mat-option>
                    <!-- <mat-option *ngIf="fermataDefault" [value]="fermataDefault">[Default] - {{fermataDefault.nome}}</mat-option> -->
                    <mat-optgroup *ngFor="let group of fermateGroups" [label]="group.nome"
                                  [disabled]="group.disabled">
                      <mat-option *ngFor="let fermata of group.fermate" [value]="fermata">
                        <!-- <label *ngIf="fermata.id === fermataDefault.id">[Default] - {{fermata.nome}}</label> -->
                        <label>{{fermata.nome}}</label>
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
            </form><br><br>
          </div>
        </div>
        <div>
          <mat-error *ngIf="error"><strong>{{error}}</strong></mat-error>
          <span class="highlight">{{message}}</span>
        </div>
        <div>
          <button mat-button matStepperPrevious class="styleColor" (click)="eraseFields()">Indietro</button><span>&nbsp;&nbsp;</span>
          <button mat-button matStepperNext class="styleColor">Riepilogo</button>
        </div>
      </mat-step>

      <mat-step *ngIf="firstFormGroup.valid">
        <ng-template matStepLabel class="styleColor">Riepilogo Prenotazioni Attive</ng-template>
        <div *ngIf="prenotazioniNext5Days.length !== 0">
          <h4>Prenotazioni attive</h4>
          <div *ngFor="let prenotazione of prenotazioniNext5Days">
            <div style="text-align: left">
              <span><strong>Data:</strong>&nbsp;&nbsp;{{formatDate(prenotazione.data)}}</span><br>
              <span><strong>Bambino:</strong>&nbsp;&nbsp;{{prenotazione.bambino}}</span><br>
              <span><strong>Linea:</strong>&nbsp;&nbsp;{{prenotazione.fermata.linea}}</span><br>
              <span><strong>Fermata:</strong>&nbsp;&nbsp;{{prenotazione.fermata.nome}}&nbsp;&nbsp;<strong>Verso:</strong>
                      &nbsp;&nbsp;{{prenotazione.verso}}</span><br>
              <div></div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
        <div *ngIf="prenotazioniNext5Days.length === 0">
          <h4>Nessuna prenotazione attiva</h4>
        </div>
        <div>
          <button mat-button matStepperPrevious class="styleColor">Indietro</button><span>&nbsp;&nbsp;</span>
          <!-- <button mat-button  class="styleColor" (click)="stepper.reset()">Reset</button><span>&nbsp;&nbsp;</span> -->
          <button mat-button  class="styleColor" (click)="goToHomePage()">Fine</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
