.bg {
  background-image: url("../../sfondo.jpg");
  background-position: center;
  background-size: cover;
  /*overflow: hidden;*/
  /*width: 100%;*/
  /*min-height: 100vh;*/
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  float: top;
  align-items: center;
  height: auto;
  min-height: 100vh;
  min-width: 55em;
}

.selected {
  font-weight: bold;
}

.centeredCard {
  text-align: center;
  align-content: center;
  width: 70%;
  min-width: 55em;
  margin: 0 15vw;
  height: auto;
}

/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.mat-header-cell {
  text-align: left;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
  text-align: left !important;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}


.mat-column-status,
.mat-column-id,
.mat-column-username,
.mat-column-role {
  max-width: 124px;
}
