<mat-card style="text-align: center" content="align: center">
  <mat-card-title>
    <h3> Pedibus - UTENTI </h3>
    <h5> Pagina accedibile solo agli admin </h5>
  </mat-card-title>

  <mat-tab-group dynamicHeight>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let user of users$ | async">
            <mat-icon></mat-icon> <!-- todo: aggiungere icona utente -->
            <span class="highlight">{{user.id}}&nbsp;&nbsp;{{user.username}}&nbsp;&nbsp;{{user.firstName}} &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp; {{user.lastName}} &nbsp;&nbsp; {{user.role}}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
  </mat-tab-group>

  <!-- todo: vedere se gestire il paginator in caso di molti utenti
  <mat-paginator (page)="cambiaGiorno($event)"
                 [length]= 365
                 [pageSize]=1
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 style="align-content: center">
  </mat-paginator>
  -->

</mat-card>


